.profile__content--logout {
    background-color: #61dafb;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
    margin: 10px;
}
.profile__content--logout:hover {
    opacity: .9;
    cursor: pointer;
}