.form__content {
    max-width: 200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-height: 100px;
}
.btn {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
    margin: 10px;
}
.form__content--submit {
    background-color: #61dafb;
}
.form__content--submit:hover {
    opacity: .9;
    cursor: pointer;
}
.form__error {
    color: red;
}